/* List View Default Styling; rendered internally as a table. */
.table-view-table {
    width: 100%;
}

.table-view-table > thead > tr, .table-view-table > tbody > tr {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

.table-view-table > thead > tr > th {
    font-weight: 700;
    font-size: larger;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;

    max-width: 100%;
}

.table-view-table > tbody > tr > td {
    text-align: left;
    border: none;
    font-weight: 400;

    max-width: 100%;
}

/** Rendered value styling for any view. */
.dataview-result-list-root-ul {
    padding: 0em !important;
    margin: 0em !important;
}


.calendar-header-view {
    text-align: center;
    padding: 5px;
    font-size: 100%;

}

.calendar-view {
    display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background-color: #ffffff;
  padding: 0px;
  

}

.calendar-day-view-outer {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.2px solid rgba(145, 145, 145, 0.5);
    padding: 2px;
    font-size: 100%;
    text-align: center;
} 

.calendar-day-view {
    display: grid;
    grid-template-columns: auto;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  background-color: #ffffffff;
  padding: 0px;
}

.calendar-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.2px solid rgba(145, 145, 145, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: inherit;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 